body {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
#box-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightpink;
    height: 100px;
    width: 200px;
    text-align: center;
    z-index: -1;
}

#box-relative {
    position: relative;
    /* left: 100px; */
    width: 600px;
    height: 200px;
    background-color: lightpink;
    text-align: center;
}

#box-absolute {
    position: absolute;
    bottom: 0;
    right: -20px;
    height: 100px;
    width: 200px;
    background-color: darkmagenta;
    text-align: center;
}